.full-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 17px;
}

.action-container {
    display: block;
    position: absolute;
    text-align: start;
    display: block;
    left: 10%;
    right: 0;
    top: 3px;
    font-family: 'Montserrat';
    font-style: normal;
}

.topic-heading {
    position: absolute;
    left: -5%;
    font-family: 'Montserrat';
    font-style: normal;
}

.topic-label {
    margin-bottom:10px;
}

.lb-2 {
    margin-bottom: 26px;
    margin-top: 10px;
}

.lb-3 {
    margin-bottom: 15px;
    margin-top: 10px;
}

.kbg-slt {
    font-family: 'Montserrat';
    font-style: normal;
    background: #3E3E50;
    color: #727288;
    padding: 10px;
    border: 1px solid #3E3E50;
    border-radius: 5px;
    width: 335px;
    margin-left: 55px;
    height: 40px;
    font-size: 15px;
    margin-top: -14px;
}

.option {
    background: #3E3E5B;
    color: white;
}

.filter-menu-2{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    background: #2B2B3F;
    color: #efefef;
    padding: 10px;
    border: 1px solid #727288;
    border-radius: 5px;
    width: 287px;
    height: 36px;
    /* font-size: 15px; */
    margin-top: -38px;
    left: 118%;
}

.option-2 {
    background: #2B2B3F;
    color: white;
}


.date-field-control{
    position: absolute;
    left: 162%;
    background: #2B2B3F;
    width: 168px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding-left: 10px;
    margin-top: -50px;
}


.input-two {
    position: absolute;
    left: 118%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 36px;
    margin-top: -44px;
    padding-left: 5px;
    color: white;
}

.input-a {
    position: absolute;
    left: 137%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    margin-top: 23px;
    padding-left: 5px;
    color: white;
}

.input-z {
    position: absolute;
    left: 165%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    margin-top: -45px;
    padding-left: 5px;
    color: white;
}

.input-three {
    position: absolute;
    left: 137%;
    background: #2B2B3F;
    width: 138px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    margin-top: -14px;
    padding-left: 5px;
    color: white;
}

.input-4 {
    position: absolute;
    left: 118%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 80px;
    margin-top: -40px;
    padding-left: 5px;
    color: white;
}

.input-7 {
    position: absolute;
    left: 118%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 30px;
    margin-top: -39px;
    padding-left: 5px;
    color: white;
}

.input-8 {
    position: absolute;
    left: 125%;
    background: #2B2B3F;
    width: 220px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    margin-top: -14px;
    padding-left: 5px;
    color: white;
}

.input-9 {
    position: absolute;
    left: 115%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
    color: white;
    height: 120px;
}

.input-secondary{
    position: absolute;
    left: 118%;
    background: #2B2B3F;
    width: 222px;
    border: 1px solid #727288;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
    height: 33px;
    margin-top: -39px;
}
.input-date-2 {
    position: absolute;
    left: 137%;
    background: #2B2B3F;
    width: 138px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding-left: 10px;
    margin-top: -14px;
}

.input-date-3 {
    position: absolute;
    left: 115%;
    background: #2B2B3F;
    width: 278px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding-left: 10px;
    margin-top: -14px;
}

.input-date-4 {
    position: absolute;
    left: 118%;
    background: #2B2B3F;
    width: 277px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 35px;
    color: #727288;
    padding-left: 10px;
    margin-top: -38px;
}

.input-date-z {
    position: absolute;
    left: 165%;
    background: #2B2B3F;
    width: 280px;
    border: 1px solid #727288;
    border-radius: 5px;
    height: 40px;
    color: #727288;
    padding-left: 10px;
    margin-top: -14px;
}

.box-container {
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.box-container-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.box-container-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color: #FFAC69;
    margin-top: -80px;
}

.box-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    left: -7%;
    top: 75px;
    font-size: 13px;
    font-weight: 1000;
    gap: 10px;
    color: #FF7506;
}

.box-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 64px;
    font-size: 13px;
    font-weight: 1000;
    left: 25%;
}

.box-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    left: -7%;
    top: 100px;
    font-size: 13px;
    font-weight: 1000;
    color: #FF7506;
}

.box-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    font-size: 13px;
    font-weight: 1000;
    left: 340px;
    color: #FF7506;
}

.box-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    font-size: 13px;
    font-weight: 1000;
    left: 48%;
    color: #FF7506;
}


.box-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 51px;
    font-size: 13px;
    font-weight: 1000;
    margin-left: 210px;
    left: 30%;
}

.box-file-2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.box-2-label {
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 5px;
}

.box-2-btn {
    background: #1E1E2E;
    color: #FFAC69;
    border: 1px solid #FFAC69;
    height: 35px;
    width: 95px;
    border-radius: 5px;
    margin-top: 0px;
    font-weight: 100;
}

.box-2-icon {
    font-size: 15px;
    font-weight: 1000;
    padding-right: 5px;
}

.box-2-icon-2 {
    font-size: 20px;
    font-weight: 1000;
    padding-right: 5px;
    margin-top: 10px;
}

.box-2-x {
    color: red;
    padding-left: 10px;
    font-size: 15px;
}

.box-file-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.box-file-3 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 18px;
}

.box-label {
    margin-bottom: 17px;
    color: #FFAC69;
}

.box-label-2 {
    margin-bottom: 17px;
}

.box-label-3 {
    margin-bottom: 7px;
}

.box-2-icon-3 {
    margin-right: 7px;
}

hr {
    margin-top: 90px;
    margin-left: -200px;
    width: 1566px;
    border: 1px solid #727288;
}

.btn-box {
    position: absolute;
    bottom: -250px;
}

.btn-1 {
    background: #1E1E2E;
    color: #FF7506;
    border: 1px solid #FF7506;
    border-radius: 5px;
    margin: 0 15px 0 0;
    width: 140px;
    height: 40px;
}

.btn-2 {
    background: #FF7506;
    color: white;
    border: 1px solid #FF7506;
    border-radius: 5px;
    margin: 0 0 0 15px;
    width: 140px;
    height: 40px;
}

.contract-label{
    color: #FFAC69;
    font-size: 24px;
    font-family: 'Montserrat';
}

/* General styles for the container of the radio buttons */
.radio-group {
  display: flex;
  align-items: center;
}

/* Hiding the default radio button */
.radio-group input[type="radio"] {
  display: none;
}

/* Styling the custom radio button label */
.radio-group label {
  margin: 0 10px;
  padding: 5px 10px;
  border: 2px solid #FF7506; /* Border color */
  border-radius: 15px; /* Rounded corners for the label */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 120px; /* Space between radio buttons */
}

/* Changing the label background and text color when the radio button is checked */
.radio-group input[type="radio"]:checked + label {
  background-color: #FF7506; /* Background color for the selected item */
  color: white; /* Text color for the selected item */
}

/* Optional: adding a hover effect for labels */
.radio-group label:hover {
  background-color: #ff9642; /* Lighter shade for hover state */
}
.radio-label {
  margin-right: 10px; /* Space between the label and the radio buttons */
}