.search-ctn {
    margin-top: -6px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 450px;
    background: #2B2B3F;
    border: 1px solid #2B2B3F;
    border-radius: 5px;
    color: white;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.kbg-container {
    display: block;
    position: absolute;
    text-align: start;
    display: block;
    left: 180px;
    right: 0;
    top: 10px;
}

.kbg-content {
    display: flex;
    transition: all 0.3 linear;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
}

.icon-search {
    position: absolute;
    left: 430px;
    top: 154px;
}

.kbg-a {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
}

.kbg-option {
    margin: 0 50px 0 0;
}

.kbg-slt {
    margin: 0 0 0 10px;
    background: #1E1E2E;
    color: white;
    padding: 6px;
    border: 1px solid #FF7506;
    border-radius: 5px;
}

option {
    color: white;
    background: #3E3E5B;
}

.kbg-icons {
    display: flex;
    position: absolute;
    margin-top: 10px;
    right: 10%;
}

#icon1 {
    color: #FF7506;
    padding: 0 6px 0 0;
}

#icon2 {
    padding: 0 0 0 6px;
}

.kbg-nd {
    background: #2F2F41;
    height: 580px;
    width: 1360px;
    border-radius: 10px;
    margin-top: 20px;
}

.menu-container {
    background-color: #2F2F41;
    position: absolute;
    right: 0;
    top: 20%;
    bottom: 0;
    display: flex;
    transition: all 0.3 linear;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border: 1px solid #2F2F41;
    border-radius: 15px;
}

.sub-menu {
    display: flex;
    align-items: center;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    background-color: #2F2F41;
    border-radius: 15px;
}

.icon-menu {
    font-size: 25px;
    align-items: center;
    color: #FF7506;
    border: 1px solid #7272887b;
    border-radius: 100%;
    background: #7272887b;
    padding: 10px;
}

.span-menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    align-items: center;
}