.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 0 10px 1000px;
    margin-left: 80%;
}

.dropbtn {
    border: 1px solid #C8C8DB;
    text-align: left;
    background-color: #1E1E2E;
    color: white;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1E1E2E;
    border: solid white 1px;
    text-align: left;
    border: 1px solid #C8C8DB;
    font-size: 10px;
    background-color: #1E1E2E;
    color: white;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px 12px 0;
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    left: 1697px;
    top: 24px;
    border: 1px solid #1E1E2E;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}

.dropdown-content a:hover {
    background-color: #1E1E2E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1E1E2E;
}

.vn {
    display: flex;
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 35px;
    top: 22px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.eng {
    display: flex;
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 50px;
    top: 60px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.logo2 {
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 40px;
    top: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.a-top {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}

.search-ctn {
    margin-top: -6px;
    right: 10%;
    display: flex;
    position: absolute;
}

form.example input[type=text] {
    color: white;
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 430px;
    background: #2B2B3F;
    border: 1px solid #2B2B3F;
    border-radius: 5px;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.kbg-container {
    display: block;
    position: absolute;
    text-align: start;
    display: block;
    left: 180px;
    right: 0;
    top: 10px;
}

.kbg-content {
    display: flex;
    transition: all 0.3 linear;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
}

.icon-search {
    position: absolute;
    left: 410px;
    top: 154px;
}

.kbg-a {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
}

.kbg-option {
    margin: 0 50px 0 0;
}

.kbg-slt {
    margin: 0 0 0 10px;
    background: #1E1E2E;
    color: white;
    padding: 6px;
    border: 1px solid #FF7506;
    border-radius: 5px;
}

option {
    color: white;
    background: #3E3E5B;
}

.kbg-icons {
    display: flex;
    position: absolute;
    margin-top: 10px;
    right: 10%;
}

#icon1 {
    color: #FF7506;
    padding: 0 6px 0 0;
}

#icon2 {
    padding: 0 0 0 6px;
}

.kbg-nd {
    background: #2F2F41;
    height: 650px;
    width: 1360px;
    border-radius: 10px;
    margin-top: 20px;
}

.menu-container {
    background-color: #2F2F41;
    position: absolute;
    right: 0;
    top: 20%;
    bottom: 0;
    display: flex;
    transition: all 0.3 linear;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border: 1px solid #2F2F41;
    border-radius: 15px;
}

.sub-menu {
    display: flex;
    align-items: center;
    width: 75px;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    background-color: #2F2F41;
    border-radius: 15px;
}

.icon-menu {
    font-size: 25px;
    align-items: center;
    color: #FF7506;
    border: 1px solid #7272887b;
    border-radius: 100%;
    background: #7272887b;
    padding: 10px;
}

.span-menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    align-items: center;
}

.icon-search {
    position: absolute;
    right: 3%;
    top: 10px;
}