.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 0 10px 1000px;
    margin-left: 80%;
}

.dropbtn {
    border: 1px solid #C8C8DB;
    text-align: left;
    background-color: #1E1E2E;
    color: white;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1E1E2E;
    border: solid white 1px;
    text-align: left;
    border: 1px solid #C8C8DB;
    font-size: 10px;
    background-color: #1E1E2E;
    color: white;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px 12px 0;
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    left: 1697px;
    top: 24px;
    border: 1px solid #1E1E2E;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}

.dropdown-content a:hover {
    background-color: #1E1E2E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1E1E2E;
}

.vn {
    display: flex;
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 35px;
    top: 22px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.eng {
    display: flex;
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 50px;
    top: 60px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.logo2 {
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 40px;
    top: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.a-top {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
}