.kbg-container {
    display: block;
    position: absolute;
    text-align: start;
    display: block;
    left: 90px;
    right: 0;
    top: 10px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
}

.box {
    display: flex;
    flex-direction: row;
}

.container-1 {
    background: #2B2B3F;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    padding: 30px 30px 50px 30px;
    width: 445px;
    height: 340px;
    border-radius: 10px;
    font-weight: 1000;
    margin-right: 10px;
}

.container-2 {
    background: #2B2B3F;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    padding: 30px 30px 50px 30px;
    width: 445px;
    height: 170px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 1000;
    margin-right: 10px;
}

.container-3 {
    background: #2B2B3F;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    padding: 30px 30px 50px 20px;
    width: 600px;
    height: 610px;
    border-radius: 10px;
    font-weight: 1000;
    margin-left: 10px;
}

.cont-1 {
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid #727288;
    background-color: #33334D;
    display: flex;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    width: 590px;
    margin: 10px 0 15px 0;
    color: white;
    transition: 0.25 ease;
    outline: none;
    height: 20px;
}

.input:focus {
    border-color: #347AFF;
}

.label {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.label-2 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    margin: 30px 0 0 0;
}

.label-3 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    margin: 35px 0 10px 0;
}

.label-4 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    margin: 10px -11px 10px 0;
}

.label-5 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    margin: 14px -11px 10px 0;
}

.label-6 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    margin: 0 -11px 10px 0;
}

.label-7 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    margin: 10px -11px 10px 0;
}


.lb-1 {
    text-align: center;
    font-size: 22px;
    color: #FF7506;
}

.kbg-slt-2 {
    border: 1px solid #727288;
    background-color: #33334D;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    width: 605px;
    margin: 10px 0 15px 0;
    color: white;
    height: 40px;
}

.option-2 {
    background: #2B2B3F;
    color: white;
}

.f-nd {
    display: flex;
    flex-direction: row;
}

.f-nd-2 {
    display: flex;
    flex-direction: row;
}

.nd-1 {
    display: flex;
    flex-direction: column;
}

.nd-2 {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-left: 210px;
    font-weight: normal;
    margin-top: 10px;
}

.nd-3 {
    display: flex;
    flex-direction: column;
}

.nd-4 {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-left: 210px;
    font-weight: normal;
}

.avt-container {
    align-items: center;
}

.avt-if {
    width: 30px;
    height: 30px;
    background: bisque;
    border-radius: 100%;
}

.btn-box {
    margin-top: 35px;
}

.btn-1 {
    font-family: 'Montserrat';
    font-style: normal;
    background: #1E1E2E;
    color: #FF7506;
    border: 1px solid #FF7506;
    border-radius: 5px;
    margin: 0 15px 0 0;
    width: 180px;
    height: 50px;
    font-size: 15px;
}

.btn-2 {
    font-family: 'Montserrat';
    font-style: normal;
    background: #FF7506;
    color: white;
    border: 1px solid #FF7506;
    border-radius: 7px;
    margin: 0 0 0 15px;
    width: 180px;
    height: 50px;
    font-size: 15px;
}

.icn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
    margin-top: 140px;
}

.icon {
    color: #FF7506;
    font-size: 30px;
}

.lb-name {
    font-weight: normal;
    margin-left: 7px;
    margin-top: 5px;
}