.login-container {
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
    width: 400px;
}

.input-email {
    border: 1px solid #2B2B3F;
    background-color: #2B2B3F;
    display: flex;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    width: 470px;
    margin: 10px 0 10px 0;
    color: white;
    transition: 0.25 ease;
    outline: none;
}

.input-email:focus {
    border-color: #347AFF;
}

p {
    font-weight: 700px;
    font-size: 30px;
    line-height: 48px;
}

label {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.button  {
    color: white;
  display: flex; /* Use flexbox for centering */
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  background: #FF7506;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  margin-left:100px;
  border: none; /* No border for the button */
  cursor: pointer; /* Cursor as pointer to indicate it's clickable */
  text-decoration: none; /* Remove underline from link */
  font-size: 16px; /* Adjust the font size as needed */
}
.button:hover {
  background-color: #E06900; /* Slightly darker on hover */
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

 .logo2 {
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 40px;
    top: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}

.a-top {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
} 

.a-bot {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
    color: #FF7506;
    text-decoration-line: underline;
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-weight: 600px;
}

 .dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 0 10px 1000px;
  margin-left: 50% !important;
}

.dropbtn {
  border: 1px solid #c8c8db;
  text-align: left;
  background-color: #1e1e2e;
  color: white;
  padding: 10px;
  font-size: 10px;
  width: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 400px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e1e2e;
  border: solid white 1px;
  text-align: left;
  border: 1px solid #c8c8db;
  font-size: 10px;
  background-color: #1e1e2e;
  color: white;
  padding: 10px;
  font-size: 10px;
  width: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  margin-left: 400px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px 12px 0;
  text-decoration: none;
  display: block;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  left: 1697px;
  top: 24px;
  border: 1px solid #1e1e2e;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
}

.dropdown-content a:hover {
  background-color: #1e1e2e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1e1e2e;
}

.vn {
    display: flex;
    position: absolute;
    display: flex;
    border-radius: 100%;
    right: 20px;
    top: 35px;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
}

.eng {
  display: flex;
  position: absolute;
  display: flex;
  border-radius: 100%;
  right: 20px;
  top: 100px;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
}

.title {
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.002em;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    width: 500px;
    height: 24px;
    left: 662px;
    top: 464px;
}
.back-login a{
 color: #ff7506;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  margin-top: 150px;
  margin-right: 40px;
  
  display: flex;
  align-items: center;
  font-weight: 600px;
  /* 16 underline */
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}
.back-login-link a:hover {
  text-decoration: underline;
}
.back-login-link{
    text-align: center; /* Center the link horizontally */
  margin-top: 20px; /* Push it down a bit from the elements above */
  font-size: 20px;
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  font-weight: 600px;
}
